body{
    background-color: greenyellow ;
    );
}
.title{
    color: rebeccapurple;
    text-align: center;
}
.contenedor-form{
    background-color: aquamarine;
    margin: 0 auto;
    max-width: 100vw;
    padding: 1.5rem;
    border: 1px solid #000;
    border-radius: 1rem;
    font-weight: 900;
}
.fila{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
input,select{
    min-width: 100%;
    padding: 1rem 0;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
}
.button{
    background-color: dodgerblue;
    color:slateblue;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bolder;
}